/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .tittle {
        @apply w-20 h-4 m-2 bg-purple-600 text-white rounded-md;
    }

    td {
        @apply text-center;
    }

    input{
        @apply p-1 rounded-md focus:outline-none focus:border-purple-600 focus:border-2;
    }

    button {
        @apply px-2 py-1 rounded-md text-white;
    }

    .button {
        @apply px-2 py-[7px] rounded-md text-white cursor-pointer;
    }

    i {
        @apply mr-1
    }

    .button-age {
        @apply w-52 mt-4 mr-3 bg-purple-600
    }

    .button-age-hightlighted {
        @apply w-52 mt-4 mr-3 bg-purple-400
    }

    .image {
        @apply w-40 h-20 m-auto
    }
} 

body {
    background-image: url(/bladerunner.jpg);
    background-size: cover;
}

.tabla {
    background-color: rgba(176, 126, 223, 0.849);
}
